*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}
.title {
  color: rgb(85, 0, 0);
  font-size: 50px;
}
.main-box {
  display: flex;
  background-color: rgb(236, 122, 122);
  flex-wrap: wrap;
  min-width: 100vw;
  min-height: 100vh;
  align-content: flex-start;
}
.main-header {
  display: flex;
  background-color: rgb(226, 89, 89);
  justify-content: center;
  max-height: 10vh;
  min-width: 100vw;
}

.player-box {
  display: flex;
  flex-wrap: wrap;
  min-height: 90vh;
  width: 60vw;
  background-color: rgb(136, 69, 69);
  justify-content: space-evenly;
  align-self: flex-start;
}
.round-counter {
  font-size: 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
  color: rgb(85, 0, 0);
  width: 20vw;
}
#roundNumber {
  font-size: 2em;
  color: antiquewhite;
}
#rock {
  font-size: 50px;
  align-self: flex-end;
  color: antiquewhite;
  background-color: rgb(46, 24, 24);
}
#paper {
  font-size: 50px;
  align-self: flex-end;
  color: antiquewhite;
  background-color: rgb(46, 24, 24);
}
#scissors {
  font-size: 50px;
  align-self: flex-end;
  color: antiquewhite;
  background-color: rgb(46, 24, 24);
}
.results {
  font-size: 50px;
  max-height: 50px;
}
#result {
  color: antiquewhite;
  font-size: 0.5em;
}
.scoreboard {
  display: flex;
  font-size: 2em;
  color: rgb(85, 0, 0);
  align-content: flex-start;
  flex-direction: column;
  width: 20vw;
}
#humanScore {
  color: antiquewhite;
  font-size: 2em;
}
#computerScore {
  color: antiquewhite;
  font-size: 2em;
}
#start {
  background-color: transparent;
  font-size: 2em;
  font-style: oblique;
  align-self: flex-start;
}
.box {
  font-size: 50px;
  align-self: flex-end;
  color: antiquewhite;
  background-color: rgb(46, 24, 24);
}
